<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hysro.scores.mapper.ExamGradeSummaryMapper">

    <resultMap type="ExamGradeSummary" id="ExamGradeSummaryResult">
        <result property="examGradeSummaryId"    column="exam_grade_summary_id"    />
        <result property="grade"    column="grade"    />
        <result property="subject"    column="subject"    />
        <result property="examTotalNumbers"    column="exam_total_numbers"    />
        <result property="gradeTotalScores"    column="grade_total_scores"    />
        <result property="gradeAverageScore"    column="grade_average_score"    />
        <result property="gradeQualifiedPercentage"    column="grade_qualified_percentage"    />
        <result property="gradeExcellentPercentage"    column="grade_excellent_percentage"    />
        <result property="gradeUnqualifiedNumbers"    column="grade_unqualified_numbers"    />
        <result property="examId"    column="exam_id"    />
    </resultMap>

    <resultMap id="ExamExamGradeSummaryResult" type="ExamGradeSummary" extends="ExamGradeSummaryResult">
        <collection property="exams" notNullColumn="sub_exam_id" javaType="Exams" resultMap="ExamsResult" />
    </resultMap>

    <resultMap type="Exams" id="ExamsResult">
        <result property="examId"    column="sub_exam_id"    />
        <result property="examName"    column="sub_exam_name"    />
        <result property="createTime"    column="sub_create_time"    />
        <result property="createBy"    column="sub_create_by"    />
    </resultMap>

    <sql id="selectExamGradeSummaryVo">
        select a.exam_grade_summary_id, a.grade, a.subject, a.exam_total_numbers, a.grade_total_scores, a.grade_average_score, a.grade_qualified_percentage, a.grade_excellent_percentage, a.grade_unqualified_numbers, a.exam_id, b.exam_id as sub_exam_id, b.exam_name as sub_exam_name, b.create_time as sub_create_time, b.create_by as sub_create_by from exam_grade_summary a
         left join exams b on b.exam_id = a.exam_id
    </sql>

    <select id="selectExamGradeSummaryList" parameterType="ExamGradeSummary" resultMap="ExamExamGradeSummaryResult">
        <include refid="selectExamGradeSummaryVo"/>
        <where>
            <if test="grade != null  and grade != ''"> and grade = #{grade}</if>
            <if test="subject != null  and subject != ''"> and subject = #{subject}</if>
            <if test="examId != null "> and exam_id = #{examId}</if>
            <if test="exams != null and exams.examName != null  and exams.examName != ''"> and exam_name like concat('%', #{exams.examName}, '%')</if>
        </where>
    </select>

    <select id="selectExamGradeSummaryByExamGradeSummaryId" parameterType="Long" resultMap="ExamGradeSummaryResult">
        <include refid="selectExamGradeSummaryVo"/>
        where exam_grade_summary_id = #{examGradeSummaryId}
    </select>

    <insert id="insertExamGradeSummary" parameterType="ExamGradeSummary" useGeneratedKeys="true" keyProperty="examGradeSummaryId">
        insert into exam_grade_summary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="grade != null">grade,</if>
            <if test="subject != null">subject,</if>
            <if test="examTotalNumbers != null">exam_total_numbers,</if>
            <if test="gradeTotalScores != null">grade_total_scores,</if>
            <if test="gradeAverageScore != null">grade_average_score,</if>
            <if test="gradeQualifiedPercentage != null">grade_qualified_percentage,</if>
            <if test="gradeExcellentPercentage != null">grade_excellent_percentage,</if>
            <if test="gradeUnqualifiedNumbers != null">grade_unqualified_numbers,</if>
            <if test="examId != null">exam_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="grade != null">#{grade},</if>
            <if test="subject != null">#{subject},</if>
            <if test="examTotalNumbers != null">#{examTotalNumbers},</if>
            <if test="gradeTotalScores != null">#{gradeTotalScores},</if>
            <if test="gradeAverageScore != null">#{gradeAverageScore},</if>
            <if test="gradeQualifiedPercentage != null">#{gradeQualifiedPercentage},</if>
            <if test="gradeExcellentPercentage != null">#{gradeExcellentPercentage},</if>
            <if test="gradeUnqualifiedNumbers != null">#{gradeUnqualifiedNumbers},</if>
            <if test="examId != null">#{examId},</if>
         </trim>
    </insert>

    <update id="updateExamGradeSummary" parameterType="ExamGradeSummary">
        update exam_grade_summary
        <trim prefix="SET" suffixOverrides=",">
            <if test="grade != null">grade = #{grade},</if>
            <if test="subject != null">subject = #{subject},</if>
            <if test="examTotalNumbers != null">exam_total_numbers = #{examTotalNumbers},</if>
            <if test="gradeTotalScores != null">grade_total_scores = #{gradeTotalScores},</if>
            <if test="gradeAverageScore != null">grade_average_score = #{gradeAverageScore},</if>
            <if test="gradeQualifiedPercentage != null">grade_qualified_percentage = #{gradeQualifiedPercentage},</if>
            <if test="gradeExcellentPercentage != null">grade_excellent_percentage = #{gradeExcellentPercentage},</if>
            <if test="gradeUnqualifiedNumbers != null">grade_unqualified_numbers = #{gradeUnqualifiedNumbers},</if>
            <if test="examId != null">exam_id = #{examId},</if>
        </trim>
        where exam_grade_summary_id = #{examGradeSummaryId}
    </update>

    <delete id="deleteExamGradeSummaryByExamGradeSummaryId" parameterType="Long">
        delete from exam_grade_summary where exam_grade_summary_id = #{examGradeSummaryId}
    </delete>

    <delete id="deleteExamGradeSummaryByExamGradeSummaryIds" parameterType="String">
        delete from exam_grade_summary where exam_grade_summary_id in
        <foreach item="examGradeSummaryId" collection="array" open="(" separator="," close=")">
            #{examGradeSummaryId}
        </foreach>
    </delete>
</mapper>
