<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hysro.scores.mapper.ExamGradeStatisticMapper">
    
    <resultMap type="ExamGradeStatistic" id="ExamGradeStatisticResult">
        <result property="examGradeStatisticsId"    column="exam_grade_statistics_id"    />
        <result property="examNumbers"    column="exam_numbers"    />
        <result property="tripleQualifiedNumbers"    column="triple_qualified_numbers"    />
        <result property="tripleExcellentNumbers"    column="triple_excellent_numbers"    />
        <result property="tripleQualifiedPercentage"    column="triple_qualified_percentage"    />
        <result property="tripleExcellentPercentage"    column="triple_excellent_percentage"    />
        <result property="muitipleScore"    column="muitiple_score"    />
        <result property="grade"    column="grade"    />
        <result property="classes"    column="classes"    />
        <result property="muitipleRank"    column="muitiple_rank"    />
        <result property="averageRank"    column="average_rank"    />
        <result property="examId"    column="exam_id"    />
        <result property="allScore"    column="all_score"    />
        <result property="allScorePercentage"    column="all_score_percentage"    />
    </resultMap>

    <sql id="selectExamGradeStatisticVo">
        select exam_grade_statistics_id, exam_numbers, triple_qualified_numbers, triple_excellent_numbers, triple_qualified_percentage, triple_excellent_percentage, muitiple_score, grade, classes, muitiple_rank, average_rank, exam_id, all_score, all_score_percentage from exam_grade_statistic
    </sql>

    <select id="selectExamGradeStatisticList" parameterType="ExamGradeStatistic" resultMap="ExamGradeStatisticResult">
        <include refid="selectExamGradeStatisticVo"/>
        <where>  
            <if test="grade != null  and grade != ''"> and grade = #{grade}</if>
            <if test="classes != null  and classes != ''"> and classes = #{classes}</if>
            <if test="examId != null "> and exam_id = #{examId}</if>
        </where>
    </select>
    
    <select id="selectExamGradeStatisticByExamGradeStatisticsId" parameterType="Long" resultMap="ExamGradeStatisticResult">
        <include refid="selectExamGradeStatisticVo"/>
        where exam_grade_statistics_id = #{examGradeStatisticsId}
    </select>
        
    <insert id="insertExamGradeStatistic" parameterType="ExamGradeStatistic" useGeneratedKeys="true" keyProperty="examGradeStatisticsId">
        insert into exam_grade_statistic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="examNumbers != null">exam_numbers,</if>
            <if test="tripleQualifiedNumbers != null">triple_qualified_numbers,</if>
            <if test="tripleExcellentNumbers != null">triple_excellent_numbers,</if>
            <if test="tripleQualifiedPercentage != null">triple_qualified_percentage,</if>
            <if test="tripleExcellentPercentage != null">triple_excellent_percentage,</if>
            <if test="muitipleScore != null">muitiple_score,</if>
            <if test="grade != null">grade,</if>
            <if test="classes != null">classes,</if>
            <if test="muitipleRank != null">muitiple_rank,</if>
            <if test="averageRank != null">average_rank,</if>
            <if test="examId != null">exam_id,</if>
            <if test="allScore != null">all_score,</if>
            <if test="allScorePercentage != null">all_score_percentage,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="examNumbers != null">#{examNumbers},</if>
            <if test="tripleQualifiedNumbers != null">#{tripleQualifiedNumbers},</if>
            <if test="tripleExcellentNumbers != null">#{tripleExcellentNumbers},</if>
            <if test="tripleQualifiedPercentage != null">#{tripleQualifiedPercentage},</if>
            <if test="tripleExcellentPercentage != null">#{tripleExcellentPercentage},</if>
            <if test="muitipleScore != null">#{muitipleScore},</if>
            <if test="grade != null">#{grade},</if>
            <if test="classes != null">#{classes},</if>
            <if test="muitipleRank != null">#{muitipleRank},</if>
            <if test="averageRank != null">#{averageRank},</if>
            <if test="examId != null">#{examId},</if>
            <if test="allScore != null">#{allScore},</if>
            <if test="allScorePercentage != null">#{allScorePercentage},</if>
         </trim>
    </insert>

    <update id="updateExamGradeStatistic" parameterType="ExamGradeStatistic">
        update exam_grade_statistic
        <trim prefix="SET" suffixOverrides=",">
            <if test="examNumbers != null">exam_numbers = #{examNumbers},</if>
            <if test="tripleQualifiedNumbers != null">triple_qualified_numbers = #{tripleQualifiedNumbers},</if>
            <if test="tripleExcellentNumbers != null">triple_excellent_numbers = #{tripleExcellentNumbers},</if>
            <if test="tripleQualifiedPercentage != null">triple_qualified_percentage = #{tripleQualifiedPercentage},</if>
            <if test="tripleExcellentPercentage != null">triple_excellent_percentage = #{tripleExcellentPercentage},</if>
            <if test="muitipleScore != null">muitiple_score = #{muitipleScore},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="classes != null">classes = #{classes},</if>
            <if test="muitipleRank != null">muitiple_rank = #{muitipleRank},</if>
            <if test="averageRank != null">average_rank = #{averageRank},</if>
            <if test="examId != null">exam_id = #{examId},</if>
            <if test="allScore != null">all_score = #{allScore},</if>
            <if test="allScorePercentage != null">all_score_percentage = #{allScorePercentage},</if>
        </trim>
        where exam_grade_statistics_id = #{examGradeStatisticsId}
    </update>

    <delete id="deleteExamGradeStatisticByExamGradeStatisticsId" parameterType="Long">
        delete from exam_grade_statistic where exam_grade_statistics_id = #{examGradeStatisticsId}
    </delete>

    <delete id="deleteExamGradeStatisticByExamGradeStatisticsIds" parameterType="String">
        delete from exam_grade_statistic where exam_grade_statistics_id in 
        <foreach item="examGradeStatisticsId" collection="array" open="(" separator="," close=")">
            #{examGradeStatisticsId}
        </foreach>
    </delete>
</mapper>