<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hysro.scores.mapper.ExamClassStaticticsMapper">

    <resultMap type="ExamClassStatictics" id="ExamClassStaticticsResult">
        <result property="examStatisticsId"    column="exam_statistics_id"    />
        <result property="grade"    column="grade"    />
        <result property="classes"    column="classes"    />
        <result property="subject"    column="subject"    />
        <result property="examNumbers"    column="exam_numbers"    />
        <result property="fullSocreNumbers"    column="full_socre_numbers"    />
        <result property="excellentNumbers"    column="excellent_numbers"    />
        <result property="goodNumbers"    column="good_numbers"    />
        <result property="qualifiedNumbers"    column="qualified_numbers"    />
        <result property="unqualifiedOneNumbers"    column="unqualified_one_numbers"    />
        <result property="unqualifiedTwoNumbers"    column="unqualified_two_numbers"    />
        <result property="unqualifiedThreeNumbers"    column="unqualified_three_numbers"    />
        <result property="unqualifiedFourNumbers"    column="unqualified_four_numbers"    />
        <result property="totalScore"    column="total_score"    />
        <result property="averageScore"    column="average_score"    />
        <result property="qualifiedPercentage"    column="qualified_percentage"    />
        <result property="excellentPercentage"    column="excellent_percentage"    />
        <result property="mutipleScore"    column="mutiple_score"    />
        <result property="examId"    column="exam_id"    />
        <result property="rate"    column="rate"    />
    </resultMap>

    <resultMap id="ExamClassStaticticsExamsResult" type="ExamClassStatictics" extends="ExamClassStaticticsResult">
        <collection property="exams" notNullColumn="sub_exam_id" javaType="Exams" resultMap="ExamsResult" />
    </resultMap>

    <resultMap type="Exams" id="ExamsResult">
        <result property="examId"    column="sub_exam_id"    />
        <result property="examName"    column="sub_exam_name"    />
        <result property="createTime"    column="sub_create_time"    />
        <result property="createBy"    column="sub_create_by"    />
    </resultMap>

    <sql id="selectExamClassStaticticsVo">
        select a.exam_statistics_id, a.grade, a.classes, a.subject, a.exam_numbers, a.full_socre_numbers, a.excellent_numbers, a.good_numbers, a.qualified_numbers, a.unqualified_one_numbers, a.unqualified_two_numbers, a.unqualified_three_numbers, a.unqualified_four_numbers, a.total_score, a.average_score, a.qualified_percentage, a.excellent_percentage, a.mutiple_score, a.exam_id, a.rate,
 b.exam_id as sub_exam_id, b.exam_name as sub_exam_name, b.create_time as sub_create_time, b.create_by as sub_create_by
        from exam_class_statictics a
        left join exams b on b.exam_id = a.exam_statistics_id
    </sql>

    <select id="selectExamClassStaticticsList" parameterType="ExamClassStatictics" resultMap="ExamClassStaticticsExamsResult">
        <include refid="selectExamClassStaticticsVo"/>
        <where>
            <if test="grade != null  and grade != ''"> and grade = #{grade}</if>
            <if test="classes != null  and classes != ''"> and classes = #{classes}</if>
            <if test="subject != null  and subject != ''"> and subject = #{subject}</if>
            <if test="examId != null "> and exam_id = #{examId}</if>
            <if test="exams != null and exams.examName != null  and exams.examName != ''"> and exam_name like concat('%', #{exams.examName}, '%')</if>
        </where>
    </select>

    <select id="selectExamClassStaticticsByExamStatisticsId" parameterType="Long" resultMap="ExamClassStaticticsExamsResult">
        <include refid="selectExamClassStaticticsVo"/>
        where a.exam_statistics_id = #{examStatisticsId}
    </select>

    <insert id="insertExamClassStatictics" parameterType="ExamClassStatictics">
        insert into exam_class_statictics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="examStatisticsId != null">exam_statistics_id,</if>
            <if test="grade != null">grade,</if>
            <if test="classes != null">classes,</if>
            <if test="subject != null">subject,</if>
            <if test="examNumbers != null">exam_numbers,</if>
            <if test="fullSocreNumbers != null">full_socre_numbers,</if>
            <if test="excellentNumbers != null">excellent_numbers,</if>
            <if test="goodNumbers != null">good_numbers,</if>
            <if test="qualifiedNumbers != null">qualified_numbers,</if>
            <if test="unqualifiedOneNumbers != null">unqualified_one_numbers,</if>
            <if test="unqualifiedTwoNumbers != null">unqualified_two_numbers,</if>
            <if test="unqualifiedThreeNumbers != null">unqualified_three_numbers,</if>
            <if test="unqualifiedFourNumbers != null">unqualified_four_numbers,</if>
            <if test="totalScore != null">total_score,</if>
            <if test="averageScore != null">average_score,</if>
            <if test="qualifiedPercentage != null">qualified_percentage,</if>
            <if test="excellentPercentage != null">excellent_percentage,</if>
            <if test="mutipleScore != null">mutiple_score,</if>
            <if test="examId != null">exam_id,</if>
            <if test="rate != null">rate,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="examStatisticsId != null">#{examStatisticsId},</if>
            <if test="grade != null">#{grade},</if>
            <if test="classes != null">#{classes},</if>
            <if test="subject != null">#{subject},</if>
            <if test="examNumbers != null">#{examNumbers},</if>
            <if test="fullSocreNumbers != null">#{fullSocreNumbers},</if>
            <if test="excellentNumbers != null">#{excellentNumbers},</if>
            <if test="goodNumbers != null">#{goodNumbers},</if>
            <if test="qualifiedNumbers != null">#{qualifiedNumbers},</if>
            <if test="unqualifiedOneNumbers != null">#{unqualifiedOneNumbers},</if>
            <if test="unqualifiedTwoNumbers != null">#{unqualifiedTwoNumbers},</if>
            <if test="unqualifiedThreeNumbers != null">#{unqualifiedThreeNumbers},</if>
            <if test="unqualifiedFourNumbers != null">#{unqualifiedFourNumbers},</if>
            <if test="totalScore != null">#{totalScore},</if>
            <if test="averageScore != null">#{averageScore},</if>
            <if test="qualifiedPercentage != null">#{qualifiedPercentage},</if>
            <if test="excellentPercentage != null">#{excellentPercentage},</if>
            <if test="mutipleScore != null">#{mutipleScore},</if>
            <if test="examId != null">#{examId},</if>
            <if test="rate != null">#{rate},</if>
         </trim>
    </insert>

    <update id="updateExamClassStatictics" parameterType="ExamClassStatictics">
        update exam_class_statictics
        <trim prefix="SET" suffixOverrides=",">
            <if test="grade != null">grade = #{grade},</if>
            <if test="classes != null">classes = #{classes},</if>
            <if test="subject != null">subject = #{subject},</if>
            <if test="examNumbers != null">exam_numbers = #{examNumbers},</if>
            <if test="fullSocreNumbers != null">full_socre_numbers = #{fullSocreNumbers},</if>
            <if test="excellentNumbers != null">excellent_numbers = #{excellentNumbers},</if>
            <if test="goodNumbers != null">good_numbers = #{goodNumbers},</if>
            <if test="qualifiedNumbers != null">qualified_numbers = #{qualifiedNumbers},</if>
            <if test="unqualifiedOneNumbers != null">unqualified_one_numbers = #{unqualifiedOneNumbers},</if>
            <if test="unqualifiedTwoNumbers != null">unqualified_two_numbers = #{unqualifiedTwoNumbers},</if>
            <if test="unqualifiedThreeNumbers != null">unqualified_three_numbers = #{unqualifiedThreeNumbers},</if>
            <if test="unqualifiedFourNumbers != null">unqualified_four_numbers = #{unqualifiedFourNumbers},</if>
            <if test="totalScore != null">total_score = #{totalScore},</if>
            <if test="averageScore != null">average_score = #{averageScore},</if>
            <if test="qualifiedPercentage != null">qualified_percentage = #{qualifiedPercentage},</if>
            <if test="excellentPercentage != null">excellent_percentage = #{excellentPercentage},</if>
            <if test="mutipleScore != null">mutiple_score = #{mutipleScore},</if>
            <if test="examId != null">exam_id = #{examId},</if>
            <if test="rate != null">rate = #{rate},</if>
        </trim>
        where exam_statistics_id = #{examStatisticsId}
    </update>

    <delete id="deleteExamClassStaticticsByExamStatisticsId" parameterType="Long">
        delete from exam_class_statictics where exam_statistics_id = #{examStatisticsId}
    </delete>

    <delete id="deleteExamClassStaticticsByExamStatisticsIds" parameterType="String">
        delete from exam_class_statictics where exam_statistics_id in
        <foreach item="examStatisticsId" collection="array" open="(" separator="," close=")">
            #{examStatisticsId}
        </foreach>
    </delete>

    <delete id="deleteExamsByExamIds" parameterType="String">
        delete from exams where exam_id in
        <foreach item="examId" collection="array" open="(" separator="," close=")">
            #{examId}
        </foreach>
    </delete>

    <delete id="deleteExamsByExamId" parameterType="Long">
        delete from exams where exam_id = #{examId}
    </delete>

    <insert id="batchExams">
        insert into exams( exam_id, exam_name, create_time, create_by) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.examId}, #{item.examName}, #{item.createTime}, #{item.createBy})
        </foreach>
    </insert>
</mapper>
